# idk if this can be public or not yet. Coppied from
# /home/reece/Desktop/Programming/Go/ethos-stake/ethos-mono-repo/ethos-avs/tests/anvil/avs-and-eigenlayer-deployed-anvil-state.json
chains/avs-and-eigenlayer-deployed-anvil-state.json