---
    name: unit-test

    on:
      push:

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    env:
      GO_VERSION: 1.22.3

    jobs:
      build:
        runs-on: ubuntu-latest
        name: build
        steps:
          - uses: actions/checkout@v4
          - name: Setup go
            uses: actions/setup-go@v4
            with:
              go-version: ${{ env.GO_VERSION }}
          - run: make install

      test:
        runs-on: ubuntu-latest
        name: test
        steps:
          - name: Install Go
            uses: actions/setup-go@v4
            with:
              go-version: ${{ env.GO_VERSION }}
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Test
            run: go test ./...